:root {
  font-size: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 1rem;
}

.music-container {
  background-color: white;
  box-shadow: 0 5px 20px #dbdbdb;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 50px 1fr;
  position: relative;
  margin: 100px 0;
  z-index: 10;
  width: clamp(300px, 85%, 700px);
  height: 150px;
}

.title-wrap {
  display: inline-flex;
  align-items: center;
  padding: 15px;
}

.controls-wrap {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#play {
  background-color: white;
  width: 25px;
  height: 25px;
  border: 3px solid black;
  font-size: 14px;
  color: black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.progress-container {
  display: inline-block;
  background: #fff;
  border: 3px solid black;
  cursor: pointer;
  height: 25px;
  width: clamp(100px, 85% , 450px);
}

.progress-line {
  display: inline-block;
  background-color: black;
  height: 100%;
  width: 0%;
  transition: all 0.1s linear;
}
